* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

#banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), #009688), url(Barber_img/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}